body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3a5a40;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  border: 2px solid 344e41;
  border-width: 0.2rem;
  border-radius: 15px;
  border-style: dashed;
  padding: 1rem;
}

#board div {
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a3b18a;
  cursor: pointer;
}
